{% extends 'index.html' %}

{% block titulo %}
    Listado de Libros
{% endblock titulo %}

{% block titulo_central %} 
    <h2 class="title-1"> Listado Libros</h2>
{% endblock titulo_central %}
{% block extracss %}
    <style>
        #edicion {
          position:absolute; z-index: 3;
        }
    </style>

{% endblock extracss %}

{% block body %}
<div>
    <button class="btn btn-primary" type="button" onclick="abrir_modal_creacion('{% url 'libro:crear_libro' %}')">Crear Libro</button>
</div>

    {% if libros %}

    <div class="table-responsive m-b-40">
        <table class="table table-borderless table-data3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Fecha de publicación</th>                    
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                    <tr>
                        <td>{{ libro.id }}</td>
                        <td>{{ libro.titulo }}</td>                        
                        <td>
                            {% for autor in libro.autor_id.all %}
                                <li>{{ autor.nombre }}</li>
                            {% endfor %}
                        </td> 
                        <td>{{ libro.fecha_publicacion }}</td>                       
                        <td colspan="2">
                            <div class="d-grid d-md-flex">
                            <button onclick="abrir_modal_edicion('{% url 'libro:editar_libro' libro.id %}')" class="btn btn-primary" >Editar</button>
                            <a href="{% url 'libro:eliminar_libro' libro.id %}" class="btn btn-danger" role="button">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

       
    {% else %}
        <h1>No existen libros registrados</h1>
    {% endif %}

    <div  id="creacion" class="modal fade"  role="dialog"  data-backdrop="false">

    </div>
    

    <div  id="edicion" class="modal fade"  role="dialog"  data-backdrop="false">

    </div>

{% endblock body %}
 
