{% extends 'index.html' %}
{% load static %}
{% block titulo %}
    Listado de Usuarios
{% endblock titulo %}

{% block titulo_central %} 
    <h2 class="title-1"> Listado Usuarios</h2>
{% endblock titulo_central %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %}

{% block body %}

    

    <div class="table-stats order-table ov-h">
        <table id="table_usuarios" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre Usuario</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>                    
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>

       
{% endblock body %}

{% block extrajs %}
    <script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}