{% extends 'index.html' %}

{% block titulo %}Creación de autor{% endblock titulo %}
{% block body %}
    <form method="POST"> 
        {% csrf_token %}    
        {% if error %} 
            <h2>{{ error }}</h2> 
        {% else %}
        {% block titulo_central %} 
        {% endblock titulo_central %}
        <div class="card">
            <div class="card-header">Crear Autor</div>
            <div class="card-body">
                <hr>
               
                    <div class="form-group">
                        {{ form.nombre.label }}
                        {{ form.nombre }}
                    </div>
                    <div class="form-group has-success">
                        {{ form.apellidos.label }}
                        {{ form.apellidos }}
                    </div>
                    <div class="form-group">
                        {{ form.nacionalidad.label }}
                        {{ form.nacionalidad }}
                    </div>
                    <div class="form-group">
                        {{ form.descripcion.label }}
                        {{ form.descripcion }}
                    </div>
                    
                    <div>
                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                            <i class="fa fa-rotate-right fa-lg"></i>&nbsp;
                            <span id="payment-button-amount">Actualizar</span>
                            <span id="payment-button-sending" style="display:none;">Sending…</span>
                        </button>
                    </div>
                
            </div>
        </div>
        {% endif %}
        
    </form>
{% endblock body %}

<!--

- Renderizado tomando datos de forms.

 <form method="POST"> 
        {% csrf_token %}    
        {% if error %} 
            <h2>{{ error }}</h2> 
        {% else %}
            <label>Nombre</label>
            <input type="text" name="nombre">
            <label>Apellido</label>
            <input type="text" name="apellidos">
            <label>Nacionalidad</label>
            <input type="text" name="nacionalidad">
            <label>Descripción</label>
            <input type="text" name="descripcion">

        
            <button type="submit">Crear</button>
        {% endif %}
        
    </form>



-  Renderizado de formulario por defecto con DJANGO.
<form method="POST"> 
        {% csrf_token %}    
        {% if error %} 
            <h2>{{ error }}</h2> 
        {% else %}
            {{ autor_form.as_p }}
        
            <button type="submit">Crear</button>
        {% endif %}
        
    </form>



-->