{% extends 'index.html' %}

{% block titulo %}
    Listado de Autores
{% endblock titulo %}

{% block titulo_central %} 
    <h2 class="title-1"> Listado Autores</h2>
{% endblock titulo_central %}

{% block body %}


    {% if autores %}

    <div class="table-responsive m-b-40">
        <table class="table table-borderless table-data3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Nacionalidad</th>
                    <th>Descripción</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for autor in autores %}
                    <tr>
                        <td>{{ autor.id }}</td>
                        <td>{{ autor.nombre }}</td>
                        <td>{{ autor.apellidos }}</td>
                        <td>{{ autor.nacionalidad }}</td>
                        <td>{{ autor.descripcion }}</td>
                        <td colspan="2">
                            <div class="d-grid d-md-flex">
                            <a href="{% url 'libro:editar_autor' autor.id %}" class="btn btn-primary mr-2" >Editar</a>
                            <a href="{% url 'libro:eliminar_autor' autor.id %}" class="btn btn-danger" role="button">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

       
    {% else %}
        <h1>No existen autores registrados</h1>
    {% endif %}

{% endblock body %}